.rightouter {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0px 2px 4px grey;
}

.righthead {
    margin-left: 0px;
    height: auto;
}

.calcp {
    font-size: 24px;
    margin-top: 24px;
    margin-left: 24px;
    font-weight: 700;
    font-family: "Plus Jakarta Sans";
    color: #FF6B4A;
}

.rightlowp {
    margin-top: 40px;
    margin-left: 60px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Plus Jakarta Sans";
    transition: all 0.2s ease;
}

.rightlowp:hover {
    font-size: 19px;
    cursor: pointer;
    color: black;
}

.plolo {
    font-size: 14px;
    color: gray;
    margin-left: 61px;
    margin-top: 3px;
    font-weight: 600;
}

.qwe {
    color: #FF6B4A;
}

.link {
    text-decoration: none;
    color: inherit;
}

.rightlow {
    margin-bottom: 40px;
}

/* Media Query for Larger Screens (min-width: 768px) */
@media (min-width: 768px) {
    .rightlowp {
        margin-top: 50px; 
        font-size: 20px;
    }

    .plolo {
        font-size: 16px;
    }
}
