* {
  box-sizing: border-box;
 font-family: 'Plus Jakarta Sans', sans-serif;  padding: 0px;
  margin: 0px;
}

html,
body,
#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

}

button {
  cursor: pointer;
}